<div class="row align-items-center">
  <div class="col-2"></div>
    <div class="col-8">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player</th>
          <th scope="col">Highest Amount</th>
          <th scope="col">Time Played</th>
          <th scope="col">Consecutive Hands Won</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Aaron</td>
          <td>$1000</td>
          <td>0:35</td>
          <td>15</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Steve</td>
          <td>$900</td>
          <td>0:40</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>t$800</td>
          <td>@0:35</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Bob</td>
          <td>$700</td>
          <td>0:35</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Nate</td>
          <td>$600</td>
          <td>0:30</td>
          <td>9</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Karen</td>
          <td>$500</td>
          <td>0:30</td>
          <td>8</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Emily</td>
          <td>$400</td>
          <td>0:35</td>
          <td>15</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Dan</td>
          <td>$300</td>
          <td>0:25</td>
          <td>6</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>James</td>
          <td>$200</td>
          <td>0:15</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Phil</td>
          <td>$100</td>
          <td>0:02</td>
          <td>1</td>
        </tr>
      </tbody>
  </table>
  </div>
  <div class="col-2"></div>
</div>