<button class="btn btn-md btn-primary" (click)="showPoker()" *ngIf="!showPokerStats">Show Poker Stats</button>
<button class="btn btn-md btn-primary" (click)="showPoker()" *ngIf="showPokerStats">Show Blackjack Stats</button>
<h2 *ngIf="!showPokerStats">{{name}}'s Blackjack Stats</h2>
<div class="row align-items-start" *ngIf="!showPokerStats">
  <div class="col-2"></div>
  <div class="col-4">
    <h3>Current Session</h3>
    <table class="table table-dark">
      <tbody *ngIf="!blackjack">
          <tr>
            <th scope="col">You haven't played any hands yet in this session!</th>
          </tr>
        </tbody>
      <tbody *ngIf="blackjack">
        <tr>
          <th scope="col">Current Money</th>
          <td scope="col">{{currentBlackjack.totalMoney}}</td>
        </tr>
        <tr>
          <th scope="col">Hands Won</th>
          <td scope="col">{{currentBlackjack.handsWon}}</td>
        </tr>
        <tr>
          <th scope="col">Hands Played</th>
          <td scope="col">{{currentBlackjack.handsPlayed}}</td>
        </tr>
        <tr>
          <th scope="col">Win %</th>
          <td scope="col">{{currentBlackjack.handsWon/currentBlackjack.handsPlayed * 100}} %</td>
        </tr>
        <tr>
          <th scope="col">Blackjacks</th>
          <td scope="col">{{currentBlackjack.blackjacks}}</td>
        </tr>
        <tr>
          <th scope="col">Highest Dollar Amount</th>
          <td scope="col">{{currentBlackjack.highMoney}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h3>All-Time</h3>
    <table class="table table-dark">
      <tbody>
        <tr>
          <th scope="col">Hands Won</th>
          <td scope="col">{{totalHandsWon}}</td>
        </tr>
        <tr>
          <th scope="col">Hands Played</th>
          <td scope="col">{{totalHandsPlayed}}</td>
        </tr>
        <tr>
          <th scope="col">Win %</th>
          <td scope="col">{{totalPerHandsWon}} %</td>
        </tr>
        <tr>
          <th scope="col">Blackjacks</th>
          <td scope="col">{{totalBlackjacks}}</td>
        </tr>
        <tr>
          <th scope="col">Highest Dollar Amount</th>
          <td scope="col">{{totalHighMoney}}</td>
        </tr>
        <tr>
          <th scope="col">Lifetime Money Won</th>
          <td scope="col">{{totalMoneyWon}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
</div>

<h2 *ngIf="showPokerStats">{{name}}'s Video Poker Stats</h2>

<div class="row align-items-start" *ngIf="showPokerStats">
    <div class="col-2"></div>
    <div class="col-4">
      <h3>Current Session</h3>
      <table class="table table-dark">
        <tbody *ngIf="!poker">
          <tr>
            <th scope="col">You haven't played any hands yet in this session!</th>
          </tr>
        </tbody>
        <tbody *ngIf="poker">
            <tr>
                <th scope="col">Current Money</th>
                <td scope="row">{{currentPoker.totalMoney}}</td>
              </tr>
              <tr>
                <th scope="col">Hands Won</th>
                <td scope="row">{{currentPoker.handsWon}}</td>
              </tr>
              <tr>
                <th scope="col">Hands Played</th>
                <td scope="row">{{currentPoker.handsPlayed}}</td>
              </tr>
              <tr>
                <th scope="col">Winning Percentage</th>
                <td scope="row">{{(currentPoker.handsWon/currentPoker.handsPlayed) * 100}}</td>
              </tr>
              <tr>
                <th scope="col">Largest Bank</th>
                <td scope="row">{{currentPoker.highMoney}}</td>
              </tr>
              <tr>
                <th scope="col">Royal Flushes</th>
                <td scope="row">{{currentPoker.royalFlush}}</td>
              </tr>
              <tr>
                <th scope="col">Straight Flushes</th>
                <td scope="row">{{currentPoker.straightFlush}}</td>
              </tr>
              <tr>
                <th scope="col">Four of a Kind</th>
                <td scope="row">{{currentPoker.fourKind}}</td>
              </tr>
              <tr>
                  <th scope="col">Full Houses</th>
                  <td scope="row">{{currentPoker.fullHouse}}</td>
              </tr>
              <tr>
                <th scope="col">Flushes</th>
                <td scope="row">{{currentPoker.flush}}</td>
              </tr>
              <tr>
                <th scope="col">Straights</th>
                <td scope="row">{{currentPoker.straight}}</td>
              </tr>
              <tr>
                <th scope="col">Three of a Kind</th>
                <td scope="row">{{currentPoker.threeKind}}</td>
              </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h3>All-Time</h3>
      <table class="table table-dark" id="pokerTable">
        <tbody> 
          <tr>
            <th scope="col">Total Money Won</th>
            <td scope="row">{{pokertotalmoney}}</td>
          </tr>
          <tr>
            <th scope="col">Hands Won</th>
            <td scope="row">{{pokertotalhandswon}}</td>
          </tr>
          <tr>
            <th scope="col">Hands Played</th>
            <td scope="row">{{pokertotalhandsplayed}}</td>
          </tr>
          <tr>
            <th scope="col">Winning Percentage</th>
            <td scope="row">{{pokertotalhandswon/pokertotalhandsplayed * 100}}</td>
          </tr>
          <tr>
            <th scope="col">Highest Bank</th>
            <td scope="row">{{pokertotalhighmoney}}</td>
          </tr>
          <tr>
            <th scope="col">Royal Flushes</th>
            <td scope="row">{{totalroyalflush}}</td>
          </tr>
          <tr>
            <th scope="col">Straight Flushes</th>
            <td scope="row">{{totalstraightflush}}</td>
          </tr>
          <tr>
            <th scope="col">Four of a Kind</th>
            <td scope="row">{{totalfourkind}}</td>
          </tr>
          <tr>
              <th scope="col">Full Houses</th>
              <td scope="row">{{totalfullhouse}}</td>
          </tr>
          <tr>
            <th scope="col">Flushes</th>
            <td scope="row">{{totalflush}}</td>
          </tr>
          <tr>
            <th scope="col">Straights</th>
            <td scope="row">{{totalstraight}}</td>
          </tr>
          <tr>
            <th scope="col">Three of a Kind</th>
            <td scope="row">{{totalthreekind}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>