<nav>
  <br>
  <div class="container-fluid">
    <h2 *ngIf="name">Hello, {{name}}</h2>
    <div class="row justify-content-end">
      <div class="col-5 justify-content-end">
        <ul class="nav">
          <li class="nav-item li2" routerLink="/blackjack" *ngIf="this.as.token">Blackjack</li>
          <li class="nav-item li2" routerLink="/poker" *ngIf="this.as.token">Video Poker</li>
          <li class="nav-item li1" routerLink="/">Home</li>
          <li class="nav-item li2" routerLink="/leaderboard">High Scores!</li>
          <li class="nav-item li3" (click)="signup()" *ngIf="!this.as.token">Sign Up</li>
          <li class="nav-item li1" (click)="login()" *ngIf="!this.as.token">Login</li>
          <li class="nav-item li3" routerLink="/profile/{{userIdNumber}}" *ngIf="this.as.token">My Profile</li>
          <li class="nav-item li1" routerLink="/stats/{{userIdNumber}}" *ngIf="this.as.token">Stats</li>
          <li class="nav-item li1" (click)="logout()" *ngIf="this.as.token">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br>
<hr>