<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" (click)="activeModal.close('Close click')" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Change User Info</h4>
  </div>
  <form class="modal-body" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <h5>Enter your password</h5>
    <div class="form-group">
      <label>Old Password:</label>
      <input type="password" class="form-control" name="oldPass" minlength="8" ngModel required password/>
      <br>
      <label>New Password:</label>
      <input type="password" class="form-control" name="newPass" minlength="8" ngModel required password/>
      <br>
      <label>Confirm Password:</label>
      <input type="password" class="form-control" name="confirmPass" minlength="8" ngModel required password/>
    </div>	
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')">Cancel</button>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Update</button>
    </div>
  </form>
</div>