<br>
<br>  
<div class="container" >
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>WELCOME TO AARON'S VIRTUAL CASINO!!!!!</h1>
    </div>
  </div>
  <!-- <br>
  <div class="row justify-content-center">
  <div class="row justify-content-left">
    <div class="col-1"></div>
    <div class="col-3">
      <button type="button" class="btn btn-lg btn-success startBtn" routerLink="/blackjack" (click)="pageChecked(blackjackLink)">Start Blackjack</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-lg btn-success startBtn" (click)="showPoker()">Go to Poker</button>
    </div>
  </div> -->
</div>