<div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Update User Info</h4>
      <button type="button" class="close" (click)="activeModal.close('Close click')" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    </div>
    <form class="modal-body" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h6>If you do not want to change an option, leave it blank.</h6>
      <h6>Email and password are required to submit.</h6>
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="name" id="nameModal" ngModel />
        <br>
        <label>Username:</label>
        <input type="text" class="form-control" name="username" id="usernameModal" ngModel />
        <br>
        <label>Email:</label>
        <input type="email" class="form-control" name="email" id="emailModal" ngModel email />
        <br>
        <label>Confirm Password:</label>
        <input type="password" class="form-control" name="password" ngModel required password/>
      </div>	
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')">Cancel</button>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Update</button>
      </div>
    </form>
  </div>