<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>WELCOME TO VIDEO POKER!</h1>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>House Rules:</h3>
      <ol>
        <li>Minimum bet is $1 per hand.</li>
        <li>Maximum bet is $5 per hand.</li>
        <li>Payout Structure:
          <ul>
            <li>Royal Flush: 250x</li>
            <li>Straight Flush: 100x</li>
            <li>Four of a Kind: 40x</li>
            <li>Full House: 15x</li>
            <li>Flush: 8x</li>
            <li>Straight: 6x</li>
            <li>Three of a Kind: 4x</li>
            <li>Two Pair: 2x</li>
            <li>One Pair: 1x</li>
          </ul>
        </li>
      </ol>    
    </div> 
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <button type="button" class="btn btn-lg btn-success startBtn" routerLink="/poker" (click)="pageChecked(pokerLink)">Start Poker</button>
    </div>
  </div>
</div>