<br>
<br>  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>WELCOME TO BLACKJACK!</h1>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>House Rules:</h3>
      <ol>
        <li>Blackjack pays 3/2.</li>
        <li>Dealer hits on 16, stays on all 17s.</li>
        <li>Maximum of three splits per hand.</li>
        <li>When splitting aces, you only get one additional card. If that card is an ace, you can split them again.</li>
      </ol>    
    </div> 
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <button id="startBtn" class="btn btn-lg btn-success" routerLink="/game">Start Game</button>
    </div>
  </div>
  <div class="row">
    <h4 style="text-align: center;">This app is a work in progress. Future releases will include:</h4>
    <ol>
      <li>Player Statistics</li>
      <li>High Score Leaderboards</li>
    </ol>
  </div>
</div>