<br>
<br>  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>WELCOME TO BLACKJACK!</h1>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>House Rules:</h3>
      <ol>
        <li>You must sign up or login before playing.</li>
        <li>Blackjack pays 3/2.</li>
        <li>Dealer hits on soft 17 and stays on hard 17.</li>
        <li>Maximum of three splits per hand.</li>
        <li>When splitting aces, you only get one additional card. If that card is an ace, you can split them again.</li>
      </ol>    
    </div> 
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <button type="button" class="btn btn-lg btn-success startBtn" routerLink="/blackjack">Start Blackjack</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-lg btn-success startBtn" routerLink="/blackjack">Start Blackjack</button>
    </div>
  </div>
</div>